$blue-main: #2D4FBA;
$blue-dark: #1A3487;
$blue-light: #CDF3FF;
$blue-light2: #E6EAF7;

$text-color-dark: #12192E;
$text-color-default: #222222;

$green-main: #78D24E;
$green-dark: #38721C;
$green-light: #DFF5D7;

$red-dark: #B72323;
$red-light: #E64545;

$grey-dark: #585858;
$grey-light: #767676;

$grey-dark-main: #CFCFCF;
$grey-light-main: #ECECEC;

$purple-main: #6B2DBA;
$yellow-main: #FBD44A;

$white: #FFFFFF;

$secondary-grey: #F3F3F3;


$fontsize-default: 16px;
$fontsize-table-default: 18px;

// $fontsize-h1: 32px;
// $fontsize-h2: 28px;
// $fontsize-h3: 24px;
// $fontsize-h4: 22px;
// $fontsize-h5: 20px;
// $fontsize-h6: 18px;
// $fontsize-table-: 18px;


$opensidenavbar-width: 250px;
$closesidenavbar-width: 65px;