.card {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

.card h2 {
    font-size: 24px; /* Adjust font size as needed */
    color: #333; /* Adjust color as needed */
    margin-bottom: 20px; /* Add spacing between title and form */
}

.container {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px; /* Add some space between each form group */
}

.form-group label {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.form-group input {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}
.green-text {
    color: green;
}

.red-text {
    color: red;
}


button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .card {
        width: 90%;
        margin: 20px auto;
        text-align: center; /* Center button */
    }

    .form-group {
        margin-bottom: 10px; /* Reduce margin for better spacing on smaller screens */
    }
    .form-group input {
        width: calc(100% - 20px); /* Ensure input width is responsive */
    }
}
